<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
        <servlet-name>cookieexamle</servlet-name>
        <servlet-class>session.examples.Cookieexample</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>cookieexamle</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>secnod</servlet-name>
        <servlet-class>sessionexample.cookie2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/nextcookie</url-pattern>
    </servlet-mapping>
    
</web-app>